<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>지하철 이용객 예측</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/semantic/semantic.css' %}">
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="{%static 'css/semantic/semantic.js' %}"></script>
    <meta charset="UTF-8">
    <script type="text/javascript">
        /////////////////////////////////////////////////////////////
        //get 'number of get off passenger' and 'station information' from django model

        var a = "{{searched_expectedPassenger.station.station_name}}";

        var station = [{% for ex_passenger in expectedPassenger %}
        {
        title: '{{ex_passenger.station.station_name|escapejs}}',
        station_name: "{{ex_passenger.station.station_name|escapejs}}",
        location_x: "{{ex_passenger.station.location_x|escapejs}}",
        location_y: "{{ex_passenger.station.location_y|escapejs}}",
        off_passenger_1: "{{ex_passenger.off_passenger_1|escapejs}}",
        off_passenger_2: "{{ex_passenger.off_passenger_2|escapejs}}",
        off_passenger_3: "{{ex_passenger.off_passenger_3|escapejs}}",
        },
        {% endfor %}];
        var map;
        /////////////////////////////////////////////////////////////
        //initializer google map

        function initMap() {
             var search_or_not = "{{searched_expectedPassenger.station.station_name}}";

             if(search_or_not) {
                 var latLng = new google.maps.LatLng("{{searched_expectedPassenger.station.location_x}}", "{{searched_expectedPassenger.station.location_y}}");
                 map =  new google.maps.Map(document.getElementById('map'), {
                 center: {lat: Number("{{searched_expectedPassenger.station.location_x}}"), lng: Number("{{searched_expectedPassenger.station.location_y}}")},
                 zoom: 14
                 });
             } else {
                map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 37.566345, lng: 126.977893},
                zoom: 14
                });
             }

            for (var i = 0; i < station.length; i++) {
               var latLng = new google.maps.LatLng(station[i].location_x, station[i].location_y);
               if(station[i]['off_passenger_1'] > 8000) {
                   var icon = 'http://maps.google.com/mapfiles/ms/icons/red-dot.png';
               } else if(station[i]['off_passenger_1'] > 5000) {
                   var icon = 'http://maps.google.com/mapfiles/ms/icons/purple-dot.png';
               }
                else if(station[i]['off_passenger_1'] > 2500) {
                   var icon = 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png';
               }
               else if(station[i]['off_passenger_1'] > 1000) {
                   var icon = 'http://maps.google.com/mapfiles/ms/icons/yellow-dot.png';
               } else {
                   var icon = 'http://maps.google.com/mapfiles/ms/icons/green-dot.png';
               }
               marker[i] = new google.maps.Marker({position: latLng, map: map, icon:icon})

               var markerMaxWidth = 300;
               var time = {{time.hour}} + 1;
               var contentString =
               '<div class="marker_info">'
               + '<div class="ui tiny statistic">'
               + '<div class="value"><i class="plane icon"></i>'
               + station[i]['off_passenger_1']
               + '</div>'
               + '<div class="label">'
               +  time + '시' + ' '
               + station[i].station_name
               + '</div>'
               + '</div>'
               + '</div>';
               var infoWindow = new google.maps.InfoWindow({content: contentString,
                        maxWidth: markerMaxWidth });
               markerListener(marker[i], infoWindow)
            }
        }

        /////////////////////////////////////////////////////////////
        //drawing maker
        var marker = new Array(station.length);
        function expected(off_passenger_time) {
             deleteMarkers();
             for (var i = 0; i < station.length; i++) {
               var latLng = new google.maps.LatLng(station[i].location_x, station[i].location_y);
               if(station[i][off_passenger_time] > 8000) {
                   var icon = 'http://maps.google.com/mapfiles/ms/icons/red-dot.png';
               } else if(station[i][off_passenger_time] > 5000) {
                   var icon = 'http://maps.google.com/mapfiles/ms/icons/purple-dot.png';
               }
                else if(station[i][off_passenger_time] > 2500) {
                   var icon = 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png';
               }
               else if(station[i][off_passenger_time] > 1000) {
                   var icon = 'http://maps.google.com/mapfiles/ms/icons/yellow-dot.png';
               } else {
                   var icon = 'http://maps.google.com/mapfiles/ms/icons/green-dot.png';
               }
               marker[i] = new google.maps.Marker({position: latLng, map: map, icon:icon})

               var markerMaxWidth = 300;
               if(off_passenger_time == 'off_passenger_1') {
                    var time = {{time.hour}} + 1;
               } else if(off_passenger_time == 'off_passenger_2') {
                    var time = {{time.hour}} + 2;
               } else {
                    var time = {{time.hour}} + 3;
               }
               var contentString =
               '<div class="marker_info">'
               + '<div class="ui tiny statistic">'
               + '<div class="value"><i class="plane icon"></i>'
               + station[i]['off_passenger_1']
               + '</div>'
               + '<div class="label">'
               + time + '시' + ' '
               + station[i].station_name
               + '</div>'
               + '</div>'
               + '</div>';
               var infoWindow = new google.maps.InfoWindow({content: contentString,
                        maxWidth: markerMaxWidth });
               markerListener(marker[i], infoWindow)
            }
        }

        /////////////////////////////////////////////////////////////
        //marker listener
        function markerListener(marker, infoWindow) {
               google.maps.event.addListener(marker, 'click', function() {
                   infoWindow.open(map, marker);
               });
        }

        /////////////////////////////////////////////////////////////
        //marker deletion function
        function deleteMarkers() {
            for (var i = 0; i < marker.length; i++) {
                marker[i].setMap(null);
            }
            marker = new Array(station.length);
        }

    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAy0k4uApJixMS7kpSEQ338eg4_T_9ec2w&callback=initMap">
    </script>

</head>
<body>
    <header class="ui huge inverted pointing attached menu">
        <section class="left item">
            <i class="large bordered inverted teal subway icon"></i>
            <a href="/">지하철 이용객 예측 시스템 </br>{{time.year}}년 {{time.month}}월 {{time.day}}일 {{time.hour}}시 기준</a></h5>
        </section>
        <section class="center item">
            <div id="big ui three buttons">
                <button class="ui inverted olive big button" onclick="expected('off_passenger_1')">{{time.hour|add:1}}시 예측</button>
                <button class="ui inverted purple big button" onclick="expected('off_passenger_2')">{{time.hour|add:2}}시 예측</button>
                <button class="ui inverted brown big button" onclick="expected('off_passenger_3')">{{time.hour|add:3}}시 예측</button>
            </div>

        </section>
        <section class="item">
            <form method="get" action="/" class="ui search">
                <div class="ui icon input">
                    <input class="prompt" name="station_name" type="text" placeholder="Search stations...">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </form>
            <script>
                $('.ui.search').search({source: station});
            </script>
        </section>
    </header>
    <div id="map_container">
        <div id="map"></div>
    </div>
    <footer class="ui inverted pointing attached menu">

    </footer>
</body>
</html>